<h4><i class="glyphicon glyphicon glyphicon-pencil"></i>&nbspEditing Employee</h4>

<%= render 'form', employee: @employee %>

<%#= link_to 'Show', @employee %>
<%= link_to 'Back', employees_path, class: "button is-link btn btn-secondary"%>
