<h4><i class="glyphicon glyphicon glyphicon-plus"></i>&nbspNew Employee</h4>

<%= render 'form', employee: @employee %>

<%= link_to 'Back', employees_path, class: "button is-link btn btn-secondary" %>
